.logo-img{
    height: 60px;
}
.nav-right{
    display: flex;
}

.nav-menu{
    display: none!important;
}
.dKFRGS{
    display: none!important;
}
.jQKvrQ{
    display: none!important;
}
@media only screen and (max-width: 737px){
    .nav-menu{
        display: block!important;
    }
    .fBfwOB{
        height: 35px!important;
    }
    .dKFRGS{
        display: none!important;
    }
    .jQKvrQ{
        display: none!important;
    }
}