.dashboard-main{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.cards-div{
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
}
@media only screen and (max-width: 1040px) {
    .dashboard-main{
        padding-left: 2.5rem!important;
        padding-right: 2.5rem!important;
    }
}
@media only screen and (max-width: 1015px) {
    .dashboard-main{
        padding-left: 1.8rem!important;
        padding-right: 1.8rem!important;
    }
}
@media only screen and (max-width: 985px) {
    .dashboard-main{
        padding-left: 3.5rem!important;
        padding-right: 3.5rem!important;
    }
}
@media only screen and (max-width: 590px) {
    .dashboard-main{
        padding-left: 2.5rem!important;
        padding-right: 2.5rem!important;
    }
}